<h1>PeopleTracker</h1>

<!-- use {{outlet}} to render all nested routes (pages) in this place -->
<!--
  to generate a route, type in terminal in <project-folder-name>
  $ ember generate route <route-name>
  This creates app/templates/<route-name>.hbs
  The page can be viewed at localhost:4200/<route-name>
-->
{{outlet}}
